body{
    margin: 0px;
    -moz-background:linear-gradient(#333333,#f0f0f0,#999999);
    -o-background:linear-gradient(#333333,#f0f0f0,#999999);
    -webkit-background:linear-gradient(#333333,#f0f0f0,#999999);
    background:linear-gradient(#333333,#f0f0f0,#999999);
}
.body_form{
    width: 100%;
    height: 69.32%;
}
.form_head{
    width: 100%;
    height: 50px;
    background: #cccccc;
    margin: 0px;
    float: left;
}
.form_left{
    width: 44%;
    height: 100%;
    float: left;
}
.form_line1{
    width: .08%;
    height: 100%;
    float: left;
    background:linear-gradient(#C3C3C3,#F9F8F8,#C3C3C3);
}
.form_mid{
    width: 51%;
    height:100%;
    float: left;
}
.form_right{
    width: 2%;
    height: 100%;
    float: left;
}
.form_input{
    width: 50px;
    background: transparent;
    border: none;
}
.form_input1{
    width: 90px;
    background: transparent;
    border: none;
}
.form_input2{
    width: 150px;
    background: transparent;
    border: none;
}
.parents{
    width: 150px;
}