body{
    margin: 0px;
    -moz-background:linear-gradient(#333333,#f0f0f0,#999999);
    -o-background:linear-gradient(#333333,#f0f0f0,#999999);
    -webkit-background:linear-gradient(#333333,#f0f0f0,#999999);
    background:linear-gradient(#333333,#f0f0f0,#999999);
}



.marquee{
    width: 100%;
    height: 40px;
    color: red;
   
    
}


.body{
    margin: 0px auto;
    width: 50%;
    height: 63%;
    float: left;
}
.left{
    float: left;
    width: 35%;
    height: 63%;
    border: 1px solid green;
}
.right{
    float: right;
    width: 7%;
    height: 410px;
}
.row1{
    width: 100%;
    height: 112px;
    margin-left: 20px;
}
.row1 div{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50px;
    margin: 2px;
}
.row1 div:hover{
    border-top: 4px orange solid;
    border-bottom: 4px green solid;
    border-left: 4px red solid;
    border-right: 4px chartreuse solid;
    -moz-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    -webkit-transform:rotateY(360deg);
    transform:rotateY(360deg);
    transition:2s;
}
.foot{
    width: 100%;
    height: 45px;
    margin: 0px auto;
    float: left;
}
.new{
    width: 100%;
    height: 50px;
    text-align: center;
    color: red;
}
.link{
    width: 50px;
    height: 300px;
    float: right;
}
.image{
    width: 40px;
    height: 40px;
}
.image:hover{
    width: 50px;
    height: 50px;
    transition:1s;
}


.create{
    width: 100%;
    height: 50px;
    text-align: center;
    color: red;
}

.ac_notice{
    width: 100%;
    height: 150px;
    text-align: center;
    font-family: arial;
    color: red;
}



.aclog{
    width: 100%;
    height: 100px;
    text-align: center;
    color: red;
}
.select{
    border: none;
    background: transparent;
    height: 30px;
}
.aclog1{
    width: 80%;
    height: 50px;
    text-align: center;
    margin-left: 20%;
}
.font{
    font-size: 12px;
    font-family: arial;
    color: red;
}
.input{
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius:10px;
    border: none;
    background:transparent;
}

.aclog2{
    width: 100%;
    height: 40px;
    text-align: center;
}
.log{
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-family: arial;
    border: none;
    background: transparent;
}



.table{
    width: 100%; 
    height: 100%;
    text-align: center;
}
.table a{
    text-decoration: none;
    display: block;
    color: black;
}

.lecture_data_head{
    width: 70%;
    height: 20%;
    text-align: center;
    float: left;
}
.lecture_data_head1{
    width: 30%;
    height: 20%;
    text-align: center;
    float: left;
}

.lecture_data_main{
    height: 75%;
    width: 90%;
    border: 1px darkblue dashed;
    float: left;
    margin-top: 10px;
    overflow: hidden;
}

.profile_body{
    margin: 0px auto;
    border: 1px solid gainsboro;
    width: 980px;
    height: 69%;
    text-align: center;
}
.profile_body_left{
    width: 84%;
    float: left;
    border: 1px solid green;
    height: 100px;
} 
.profile_body_right{
    width: 15%;
    float: left;
     height: 100px;
}
.p{
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    background: wheat;
    margin: 0px;
    text-align: center;
    line-height: 100px;
}
.profile_body_right a{
    text-decoration: none;
    color: black;
    display: block;
}
.profile_body_down{
    width: 99%;
    height: 359px;
    float: left;
    overflow-Y: scroll;
}
.profile_table{
    width: 95%;
    height: 3%;
    text-align: center;
    border: 1px solid gainsboro;
}
.profile_table td{
    width: 50%;
    height: 3%;
    text-align: center;
}
.profile_table a{
    text-decoration: none;
    color: black;
}
.payment_button{
    width: 100px;
    height: 40px;
    background: wheat;
    margin: 0px;
    text-align: center;
    line-height: 40px;
}
.payment_button a{
    text-decoration: none;
    display: block;
    color: black;
}
.ac_body{
    width: 900px;
    height: 665px;
    margin: 0px auto;
    box-shadow: 1px 1px 3px, 1px -1px 3px, -1px 1px 3px;
    background: whitesmoke;
}
.ac_body1{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid gray;
    text-align: center;
}
.ac_body11{
    height: 10px;
    width: 100%;
    float: left;
}
.ac_body12{
    height: 100px;
    width: 90%;
    text-align: center;
    float: left;
}
.ac_body13{
    height: 100px;
    width: 10%;
    text-align: center;
    float: left;
}

.ac_body2{
    width: 100%;
    text-align: center;
    margin-top: 10px;}
.tr{
   border: none;
}
.tr td{
    border: none;
    text-align: right;
}
.admit_body{
    width: 600px;
    height: 400px;
    background: #66ffff;
    margin: 0px auto;
    text-align: center;
    border: 1px solid black;
}
.button{
    width: 150px;
    height: 50px;
    background: gainsboro;
    box-shadow: 2px 2px 2px;
}
.admin_log{
    width: 400px;
    height: 200px;
    background: #9999ff;
    margin-left: 200px;
    margin-top: 100px;
    text-align: center;
    box-shadow:2px 2px 2px #ffcccc,2px -2px 2px #ffcccc,-2px 2px 2px #ffcccc,-2px -2px 2px #ffcccc;
}
.admin_input{
    width: 250px;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
}
.admin_button{
    width: 100px;
    height: 50px;
    border: none;
    margin-top: 5px;
    background: #ff9999;
}
.c_name{
    width:200px;
    height: 20px;
    background: white;
    margin-left: 10px;
}
.credit{
    width:100px;
    height: 20px;
    background: white;
}