body{
    margin: 0px;
    -moz-background:linear-gradient(#333333,#f0f0f0,#999999);
    -o-background:linear-gradient(#333333,#f0f0f0,#999999);
    -webkit-background:linear-gradient(#333333,#f0f0f0,#999999);
    background:linear-gradient(#333333,#f0f0f0,#999999);
}



.marquee{
    width: 100%;
    height: 40px;
    color: red;
     
}

.body{
    margin: 0px auto;
    width: 50%;
    height: 410px;
    float: left;
}

.left{
    float: left;
    width: 35%;
    height: 410px;
    border: 1px solid green;
}
.right{
    float: right;
    width: 7%;
    height: 410px;
}