body{
    margin: auto;
}
.design{
    width: 100%;
    height: 10px;
    background: -webkit-linear-gradient(left,#003A6A, red,yellow,#003A6A);
    background: -o-linear-gradient(left,#003A6A, red,yellow,#003A6A);
    background: -moz-linear-gradient(left,#003A6A, red,yellow,#003A6A);
    background: linear-gradient(left,#003A6A, red,yellow,#003A6A);
    margin: 0px auto;
}
.header{
    background: #003A6A;
    width: 100%;
    height: 150px;
    border: 2px;
    margin: 0px auto;
}
.header-left{
    width: 60%;
    height: 150px;
    float: left;
}
.img{
    margin-top: 20px;
    width: 600px;
    height: 100px;
}
.header-right{
    width: 40% ;
    height: 150px;
    float: left;
}
.header-right1{
    width: 452px;
    height: 45px;
    float: left;
    text-align: right;
    color: white;
}
.header-right2{
    width: 452px;
    height: 40px;
    float: left;
    text-align: center;
}
.right2-box{
    width: 265px;
    height: 30px;
    float: left;
    border: 5px solid #333333;
    margin-left: 50px;
}
.search{
    width: 200px;
    height: 30px;
    background: #DDDDDD;
    border: none;
    font-size: 13px;
    font-family: arial;
}
.sbutton{
    width: 65px;
    height: 30px;
    border: none;
    margin-left: -4px;
    font-size: 13px;
    font-family: arial;
}
.login{
    background: white;
    width: 60px;
    height: 30px;
    float: left;
    position: relative;
    left: 20px;
    top:-13px;
    text-align: center;
    border: 5px solid #333333;
    line-height: 30px;
    font-size: 13px;
    font-family: arial;
    background: #DDDDDD;
}
.login a{
    text-decoration: none;
    display: block;
    color: black;
}

.footer{
    width: 100%;
    height: 44px;
    background: #003A6A;
    text-align: center;
    color: white;
    line-height: 44px;
    font-size:11px;
    font-family:arial;
    
}